NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_ROOT_PAGE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APPLICATION_TYPE=web #This can either be web or app. If you are using the desktop app, set this to app. If you are using the web app, set this to web